@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
  padding: 0px;
  margin: 0px;
}

a{
  text-decoration: none;
  color: black;
}

body{

  font-family: arial;
  font-family: 'Lato', sans-serif;
}

ul{
  list-style: none;
}

img{

  width: 40px;
}

input [type="checkbox"]
{
  display: none;
}

input
{
  width: 300px;
}

nav
{
  background-color: green; /*rgba(16,16,16,.5);*/
  width: 350px;
  height: 100%;
  left: -350px;
  position: absolute;
  transition: all 1.3s;
  bottom:50px;
}

input[type="checkbox"]:checked ~ nav

{
  transform: translateX(350px);
  background: black;
}
ul {
  top: 90px;
  position: absolute;
  width: 100%;
}

a {
  display: block;
  padding: 20px 5px;
  color: green;
}

a:hover{

  background-color: white; /*rgb(176,224,230);*/
  color: black;
}

label{

  padding: -100px;
  position: center;
  z-index: 1;
  
}

div{
  width: 300px;
  padding: 40px;
  position: absolute;
  margin-top: 21%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #006400;
  text-align: center;
  border: solid 2px;
  border-color: #4169E1;
}


